/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
}

h1 {
    font-family: "Alegreya", serif;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}


/* header */

#header {
    background: linear-gradient(45deg, #ff8400, #ffb013);
    color: white;
    text-align: center;
    padding: 20px;
}

/* test area */

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#retry-button {
    border: 2px solid #ff8400;
    font-weight: bold;
}

#retry-button:hover {
    background-color: #ff8400;
    color: white;
}

/* results */

.shadow-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 132, 0, 0.5);
}

#results h2,
#best-scores h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

#results > p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

/* best scores */

#best-scores {
    padding: 20px;
    margin-bottom: 2rem;
}

#best-scores p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}